<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" type="text/css" href="--CSS--"> 
    <title>--TITLE--</title>
</head>
<body>
    <div id="add">
            <form id="add-note">
                <input type="text" id="message-input" name="note" placeholder="note">
                <input type="text" id="user-input" name="user" placeholder="user">
                <input type="submit">
            </form>
            <div id="notes">
            </div>
    </div>
    
    <script src="--SCRIPT--"></script>
    <script>
        var form = document.getElementById('add-note');
        if (form.attachEvent) {
            form.attachEvent("submit", processForm);
        } else {
            form.addEventListener("submit", processForm);
        }

        getNotes()
    </script>
</body>
</html>