body{
    background: rgba(210,255,82,1);
    background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
    background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
    text-align: center;
}

#form{
    width: 500px;
    background: rgba(255,255,255,0.7);
    border-radius: 5px;
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 15px;
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    font-size: 17pt;
    font-family: 'Raleway', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input{
    display: block;
    border: 0;
    background: transparent;
}
input[type="number"]{
    width: 100%;
    border: 1px solid red;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 10px 0;
    box-sizing: border-box;
    color: black;
}
input[type="number"]{
    margin-top: 15px;
}
input[type="submit"]{
    outline: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    color: #91e842;
    outline: 2px solid #91e842;
    border: 10px solid transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}
input[type="submit"]:hover{
    background-color: #91e842;
    color: white;
    transition: all 0.3s ease-in-out;
}
.error{
    color: red;
    font-size: 13pt;
    margin-top: -2px;
    margin-bottom: 5px;
}
hr{
    height: 0;
    border: 0;
    outline: 0;
    border-top: 1px dashed rgba(0,0,0,0.3);
}
label{
    float: left;
    margin-bottom: 3px;
}
