<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Aperi'Cast</title>
        <style>
            body {
                background: #5C87B8;
                text-align: center;
                color: #F9F9F9;
                font-family: Lato,Helvetica,sans-serif;
                position: relative;
                display: table;
                margin: 0;
                width: 100%;
            }

            p {
                vertical-align: middle;
                display: table-cell;
                height: 100vh;
            }

            a {
                color: #F9F9F9;
                text-decoration: none;
                border-bottom: .1em solid #F9F9F9;
            }
        </style>
    </head>
    <body>
        <p>{% autoescape off %}{{ message }}{% endautoescape %}</p>
    </body>
</html>