<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Oracle</title>
    </head>
    <body>
        <h1>Oracle</h1>
        <p>Hello I'm the Oracle! I've been developped for vulnerability assessment. Send me the URL you want me to scan!</p>
        <div>
            <form action="/" method="post">
                <input type="url" id="url" name="url" placeholder="URL to send to the Oracle" />
                <input type="submit" />
            </form>{% if messages %}
            <pre id="result">{% for message in messages %}{{ message }}
{% endfor %}            </pre>{% endif %}
        </div>
    </body>
</html>