*{
    font-family: 'Open Sans', sans-serif;
}
html, body{
    padding: 0;
    text-align: center;
    overflow: hidden;
}
body{
    margin: auto;
}
#bg{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #38bdd1;
    background-image: linear-gradient(to bottom, rgba(56, 189, 209, 1) 0%, rgba(56, 189, 209, 0.5) 100%), url("img/world.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}
textarea{
    resize: vertical;
    width: 100%;
}
header{
    font-family: 'Beth Ellen', cursive;
    font-size: 30pt;
    color: white;
    margin-top: 25px;
    text-shadow: 0 0 5px #000000;
}
#flag{
    opacity: 0.9;
    position: absolute;
    top: 10px;
    right: 20px;
    width: 100px;
}
#online{
    display: inline-block;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    margin-right: 300px;
}
#onlinehead{
    font-family: 'Beth Ellen', cursive;
    margin-bottom: 15px;
}
#login{
    display: inline-block;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    width: 300px;
}
.people{
    border: 1px solid rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    -webkit-box-shadow:inset 0 -1px 0px 0 rgba(0,0,0,0.3);
    box-shadow:inset 0 -1px 0px 0 rgba(0,0,0,0.3);
}
.color_F{
    color: #fc03c6;
}
.color_M{
    color: #0d09e3;
}
input[type="text"],input[type="password"]{
    width: 100%;
    border: 0;
    margin: 10px 0;
    padding: 7px 5px;
    background: rgba(220,220,220,1);
    border-radius: 3px;
    transition: all 200ms ease-in-out;
}
input[type="text"]:hover,input[type="password"]:hover{
    transition: all 200ms ease-in-out;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.5);
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.5);
}
input[type="text"]:focus,input[type="password"]:focus,
input[type="text"]:active,input[type="password"]:active{
    transition: all 200ms ease-in-out;
    -webkit-box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.9);
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.9);
}
input[type="submit"]{
    transition: all 0.5s ease-out;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
}
input[type="submit"]:hover{
    background-color: #1d7820;
}
#scene{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    background: #38bdd0;
    top: 0;
}
#logininsc{
    display: inline-block;
vertical-align: top;
}
